@import url('https://fonts.googleapis.com/css?font-family: Georgia, serif;:300,400,600,700,800,900&dispaly=swap');
 *
 
body{
    background:linear-gradient(#fff);
    font-family: Georgia, serif;
     width: 100%;
    min-height: 100vh;
    overflow-x: hidden ;
 }
 nav{
    font-family: Georgia, serif;
 }
 .navbar-brand{
     margin-left: 2%;
     display: flex;
 }
nav ul{
    margin-left: 20%;
    display: flex;
}
nav ul li{
    margin-left: 11%;
    display: flex;
    
}
.navbar-brand{
    color: green;
}
.carousel {
    width: 100%;

  }

  .carousel-cell::before {
    display: block;
  }

.oval{
    color: indigo;
    background-color: ivory;
    border-radius: 20px;
    text-decoration: none;
    font-size: 23px;
    padding: 1%;
    list-style: none;

}
header ul li{
    list-style: none;
}
header{
    font-family: Georgia, serif;
    font-size: 30px;
    font-weight: 2000;
}
header h1{
    
    font-weight: 900;
}
header img{
   width: 100%;
    height: 450px;
    object-fit: cover;
    
}
section{
    font-family: Georgia, serif;
}
section ul li{
    list-style: none;
    margin-left: -6%;
    
}
section ul li a{
    text-decoration: none;
    color : rgba(255, 0, 0, 0.479);
    border: 3px solid rgba(255, 0, 0, 0.479) ;
    padding-left: 15px 70px;
    font-size: 18px;
   margin-left: 0;
   border-radius: 13%;
}
article{
    font-family: Georgia, serif;
}
aside{
    font-family: Georgia, serif;
}
aside ul li{
    list-style: none;
    margin-left: -6%;
    
}
aside ul li a{
    text-decoration: none;
    color : rgba(255, 0, 0, 0.479);
    border: 3px solid rgba(255, 0, 0, 0.479) ;
    padding-left: 15px 70px;
    font-size: 18px;
   margin-left: 0;
   border-radius: 13%;
}
summary{
    font-family: Georgia, serif;
}
.summ-txt{
    margin-top: 9%;
}
.client-wrap{
    width: 90%;
    height: auto;
    text-align: center;

}
.client-wrap h1{
font-size: 60px;
color: #555;
}
.client-wrap hr{
    height: 5px;
    border:none;
    width: 15%;
    background: #26ccca;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    }
 .client-in{
     width: 100%;
     height: auto;
 }  
 .client-in ul{
     padding: 0;
     margin: 0;

 }
 .client-in ul li{
     list-style: none;
     display: inline-block;
     width: 150px;
height: 100px;
position: relative;
overflow: hidden;
cursor: pointer;
margin: 10px;
transition: .5s;
box-shadow: 1px 2px 2px 1px #555;
 }
 .client-in ul li img{
width: 100%;
height: 100%;
 }
 .client-in ul li img:nth-child(1){
     transform: translateY(0);
     transition: .5s;

 }
 .client-in ul li img:nth-child(2){
    transform: translateY(0);
    transition: .5s;
/*hover*/
}
 .client-in ul li:hover img:nth-child(1){
    transform: translateY(-100%);

    transition: .5s;

}
.client-in ul li:hover img:nth-child(2){
    transform: translateY(-100%);
    transition: .5s;

}
.counter-section{
    margin: 7% auto;
    color:brown;
}
.icon-box{
    border: 1px solid brown;
    height: 60px;
    width: 60px;
    margin: 10px auto;
    transform: rotate(45deg);
}
.icon-box .fas
{
    font-size: 20px;
    margin: 17px auto;
    color:red;
    transform: rotate(-45deg);
}
.counter-box p{
    font-size: 16px;

}
.symbol{
 font-size: 50px;   
}
.counter-box .counter{
    font-size: 70px;
}
.map{

    position: relative;
    
    margin-top: 4px;
    height: 50%;
    width: 50%;
    margin-left: 10%;

 
}
.map img{
    opacity: 10;
    
    margin-left: -40px; 
    height: 150%;
    width:100%;  
    margin-top: 22px;
    
}
.map span{
    position: absolute;
    
    top :150px;
    left: 25%;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color:red;
    animation : highlight 1.5s linear infinite;
}
@keyframes highlight{
    100%{
        transform: scale(2);
        opacity: 0;
    }
}
.map .marker2{
    left: 56%;
    top: 160px;

    animation-delay: .5s;
}
.map .marker3{
    left: 80%;
    top: 360px;
    animation-delay: .8s;
}
.map .marker4{
    left: 53%;
    top: 300px;

    animation-delay: .4s;
}
.map .marker5{
    left: 40%;
    top: 224px;
    animation-delay: .5s;
}

.map .marker6{
    left: 76%;
    top: 200px;
    animation-delay: .4s;
}
.map .marker7{
    left: 30%;
    top: 290px;
    animation-delay: .7s;
}
 
@media only screen and (max-width:640px)
{
    
   .map{

       position: relative;
       
       margin-top: 4px;
       height: 70%;
       width: 100%;
       margin-left: 10.5%;
   
    
   }
   .map img{
       opacity: 10;
       position: relative;
        
       height: 200%;
       width:100%;  
       margin-top: 22px;
       
   }
   .map span{
       
       position: absolute;
       font-size: 12px;
       top :150px;
       left: 10%;
       width: 6px;
       height: 6px;
       border-radius: 50px;
       background-color:red;
       animation : highlight 1.5s linear infinite;
   }
   @keyframes highlight{
       100%{
           transform: scale(2);
           opacity: 0;
       }
   }
   .map .marker1{
    left: 70%;
    top: 67px;

       animation-delay: .5s;
   }
   .map .marker2{
    left: 44%;
    top: 61px;

       animation-delay: .10s;
   }
   .map .marker3{
       left: 13%;
       top: 125px;
       animation-delay: .9s;
   }
   .map .marker4{
    left: 24%;
    top: 113px;
       animation-delay: .4s;
   }
   .map .marker5{
    left: 41%;
    top: 102px;
       animation-delay: .6s;
   }
   
   .map .marker6{
    left: 21%;
    top: 66px;

      
       animation-delay: .4s;
   }
   .map .marker7{
       left: 0%;
       top: 90px;
       animation-delay: .7s;
   }
}
.summ-txt{
    margin-left: 8%;
}
.foot-txt2{
    margin-left:-17px ;
    text-align: center;
    font-family: Georgia,serif;
}
.foot-txt1{
    margin-left: 10%;
    font-family: Georgia,serif;
}
footer{
    background-color: brown;
    color: cornsilk;
    width:auto;
    font-family: Georgia,serif;
}
footer h2{
    text-align: center;
}
.oval1{
    color: indigo;
    background-color: ivory;
    border-radius: 20px;
    text-decoration: none;
    font-size: 23px;
    padding: 1%;
    text-align: center;
}
footer ul li{
    color: cornsilk;
}
footer ul li{
    list-style: none;
    /*margin-left: 20px;*/
    text-align: center;

}
footer ul li a{
    text-decoration: none;
    padding: 6px 15px;color: #fff;
    border-radius: 20px;
}

@media only screen and (min-width:640px)and(max-width:792px) 
{
   .map{

       position: relative;
       
       margin-top: 4px;
       height: 70%;
       width: 100%;
       margin-left: 12%;
   
    
   }
   .map img{
       opacity: 10;
       
        margin-left: 10%;
       height: 200%;
       width:100%;  
       margin-top: 22px;
       
   }
   .map span{
       position: absolute;
       font-size: 12px;
       top :130px;
       left: 0%;
       width: 6px;
       height: 6px;
       border-radius: 50px;
       background-color:red;
       animation : highlight 1.5s linear infinite;
   }
   @keyframes highlight{
       100%{
           transform: scale(2);
           opacity: 0;
       }
   }
   .map .marker1{
       left: 100%;
       top: 40px;
       animation-delay: .5s;
   }
   .map .marker2{
       left: 78%;
   top: 135px;
   
       animation-delay: .10s;
   }
   .map .marker3{
       left: 13%;
       top: 125px;
       animation-delay: .9s;
   }
   .map .marker4{
       left: 57%;
       top: 169px;
       animation-delay: .4s;
   }
   .map .marker5{
       left: 22%;
       top: 104px;
       animation-delay: .6s;
   }
   
   .map .marker6{
       left: 51%;
       top: 100px;
      
       animation-delay: .4s;
   }
   .map .marker7{
       left: 0%;
       top: 90px;
       animation-delay: .7s;
   }
}